{% extends 'tailwind_2_layout.html.twig' %}

{% block item_image_widget %}
    {{ form_widget(form) }}

    {% if value is not empty and value.id is defined and value.id is not null %}
        <div class="aspect-w-16 aspect-h-9 mt-3">
            <img class="w-full object-contain"
                 src="{{ vinted_item_image_asset(value.fileName) }}"
                 alt="Image d'illustration du produit"/>
        </div>
    {% endif %}
{% endblock %}
