{% macro collection(form, formCollectionField, prototypeField, maxItems) %}
    <div data-controller="formCollection"
         data-formCollection-max-items-value="{{ maxItems }}"
         data-formCollection-prototype-value="{{ _self.collection_item(form[prototypeField].vars.prototype)|json_encode }}">
        <div data-formCollection-target="fields">
            {% do form[prototypeField].setRendered %}
            {% for field in form[prototypeField] %}
                {{ _self.collection_item(field) }}
            {% endfor %}
        </div>

        <button type="button"
                data-action="formCollection#addItem"
                data-formCollection-target="addButton"
                class="inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: solid/plus-sm -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                 aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"/>
            </svg>
        </button>
    </div>
{% endmacro %}

{% macro collection_item(form) %}
    <div data-formCollection-target="field">
        {{ form_widget(form) }}

        <button type="button"
                data-action="formCollection#removeItem"
                class="mt-2 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            Supprimer
        </button>
    </div>
{% endmacro %}
