{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {# Item list #}


        {% for item in items %}
            {# Tailwind item card #}
            <div>
                {% for image in item.images %}
                    <img src="{{ vinted_item_image_asset(image.fileName) }}"
                         alt="Image d'illustration du produit"/>
                {% endfor %}

                {{ item.name }}


                {{ item.description }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
