{% extends 'base.html.twig' %}

{% import 'macros/form.html.twig' as formMacros %}

{% block body %}
    {{ form_start(form, {'enctype': 'multipart/form-data'}) }}

    {{ formMacros.collection(form, form.images, 'images', 3) }}


    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
