{% set registerConfirmUrl = url('auth_register_confirm', {id: user.id, token: user.confirmationToken}) %}

{% autoescape %}
    Bienvenue sur Vinted !

    Pour activer votre compte il vous suffit de cliquer sur ce lien

    <a href="{{ registerConfirmUrl }}">{{ registerConfirmUrl }}</a>

{% endautoescape %}
